#-----------------------------------
#   FSD Utils
#-----------------------------------
funding-service-design-utils
requests

#-----------------------------------
#   Flask Version
#-----------------------------------
Flask

#-----------------------------------
#   Security
#-----------------------------------
flask-talisman

#-----------------------------------
#   Notification API
#-----------------------------------
notifications_python_client

#-----------------------------------
#   Connexion APIs
#-----------------------------------
connexion
swagger-ui-bundle
openapi-spec-validator
prance
