#-----------------------------------
#   FSD Utils
#-----------------------------------
funding-service-design-utils>=1.0.7,<1.1.0
requests

#-----------------------------------
#   Flask Version
#-----------------------------------
Flask==2.1.1

#-----------------------------------
#   Security
#-----------------------------------
flask-talisman==0.8.1

#-----------------------------------
#   Notification API
#-----------------------------------
notifications_python_client==6.3.0

#-----------------------------------
#   Connexion APIs
#-----------------------------------
connexion
swagger-ui-bundle
openapi-spec-validator
prance
