#-----------------------------------
#   FSD Utils
#-----------------------------------
funding-service-design-utils>=2.0.51,<=5.0.3
requests==2.32.3

#-----------------------------------
#   Flask Version
#-----------------------------------
Flask==3.0.3
apscheduler

#-----------------------------------
#   Security
#-----------------------------------
flask-talisman==1.1.0


#-----------------------------------
#   Notification API
#-----------------------------------
notifications_python_client==10.0.0

#-----------------------------------
#   Connexion APIs
#-----------------------------------
connexion[flask,swagger-ui,uvicorn]
swagger-ui-bundle==1.1.0
openapi-spec-validator
prance==23.6.21.0
#-----------------------------------
#   Beautiful soup
#-----------------------------------
beautifulsoup4==4.12.3
